/* .navbar__home{
    background: linear-gradient(180deg, #A95EFA 0%, #8A49F7 100%);
}


.navbar__search{
    background:#ffffff !important;
}

.navbar__cart{
    background:#ffffff !important;
}

.navbar__profile{
    background:#ffffff !important;
}
.search{
    display: none;
}

.cart{
    display: none;
}
.profile{
    display: none;
} */