
.carddecks::-webkit-scrollbar {
    display: none;
 }
 
 
 .carddecks{
     display: flex;
     overflow-x: auto;
     text-align: center;
     background-color: #FFFFFF !important;
     padding: 20px;
 }
 
 .navitem .headingItem{
 display: flex;
 }

  .cardItem{
     margin-right: 4px !important;
     background-color: #FFFFFF; 
 } 

 
 .navitem{
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;   
 }



 .headingItem{
     display: flex;
     flex-direction: row;
 }
 .headingItem{
     display: flex;
     flex-direction: row;
 }
 
 .SearchResultNumber{
     display: flex;
     flex-direction: row;
 }


 .cardItem{
    margin: 5px;
    background: #F3F6F8 !important;
 }
 
 .cardImagePadding{
     padding:20px !important;
 }
 
 
 .tab-content{
     background: #fff;
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16) ,0 3px 6px rgba(0,0,0,0.23);
     display: flex;
      justify-content: space-between;
      width: 450px; 
      bottom: 0;
      flex-wrap: wrap;
 }
 
 .tab{
     background: #fff;
     border-radius: 50px;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     padding:1px;
     flex-wrap: wrap;
 }

 .tab i{
     font-size: 1.2rem;
 }

 .tab p{
     font-weight: bold;
     margin-left:10px ;
     max-width: 200px;
 }

 .mycontainer{
     text-align: center;
     overflow: hidden;
     position: fixed;
     bottom: 0;
     width: 100%;

 }


	.mycolum{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.rowcol{
		display: flex;
		flex-direction: column;
    }
    
    .maindot{
        display: flex;
        flex-direction: row;
    }
        .dot {
            height: 20px;
            width: 20px;
            border-radius: 5px;
          }

.cartTotal{
    margin-top: 100px;
}

.cartComponent{
    margin-left: 40px;
    margin-bottom: 40px;
}


.badge:after{
    content:attr(value);
    font-size:12px;
    background: red;
    border-radius:50%;
    padding:3px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
    }

.MainContainer{
    height: 300px;
    width: 500px;
    position: relative;
    background-color:#F3F6F8 ;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.ImageContainer{
    position: relative;
     left: calc(50% - 20px);
     top: 20%;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.Model__Productname{
 position: absolute;
height: 64px;
left: 9.33%;
right: 58.67%;
top: calc(100% - 99px/2 - 218px);
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.8px;
color: #171717;
}

.Model__From{
position: absolute;
left: 9.33%;
right: 58.67%;
top: 40.05%;
bottom: 67.49%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
letter-spacing: -0.4px;
color: #171717;
mix-blend-mode: normal;
opacity: 0.6;
}

.Model__CategoryName{
 position: absolute;
  top:5px;
 left: 5.33%;
right: 58.67%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
letter-spacing: -0.6px;
text-transform: uppercase;
color: #171717;
mix-blend-mode: normal;
opacity: 0.6;
}

.Model__Price{
position: absolute;
height: 24px;
left: 9.33%;
right: 58.67%;
top: calc(50% - 5px/2 - 12px);
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.4px;
color: #171717;
}

.Model__availableColors{
    position: absolute;
height: 24px;
left: 9.33%;
right: 58.67%;
top: calc(90% - 5px/2 - 80px);
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.4px;
color: #171717;
mix-blend-mode: normal;
opacity: 0.6;
}

.Model__Colors{
position: absolute;
top: calc(100% - 4px/2 - 80px);
right: 26.43%;
left: 50px;
bottom: 32.32%;
display: flex;
flex-direction: row;
}

.Model__Description{
    text-align: justify;
    text-justify: inter-word;
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.4px;
color: #171717;
mix-blend-mode: normal;
opacity: 0.7;
}

.Model_DescriptionTitle{
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.6px;
color: #171717;
}

.Model__DescMain{
padding: 12px;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-auto-rows: 250px;
  }

  .mywrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-auto-rows: 250px;
  }



.Home__Title{
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 20px;
color: #171717;
}

.CategoryRecommended__Name{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
text-align: center;
letter-spacing: -0.4px;
color: #171717;
}


.Recommended__card{
    margin-right: 15px !important;
    padding: 8px;
    border: 0px !important;
    border-radius: 15px !important;
    background: #F3F6F8 !important;
}

.Search__card{
    margin-right: 15px !important;
    padding: 8px;
    border-radius: 15px !important;
    background: #F3F6F8 !important;
    border:0px !important;
}

.Modal__nav{
    background: #F3F6F8 !important;
 }